
.header {
    background-color: #0586fd !important;
}

header .logo {
    display: inline-block;
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin-top: -13px;
}

header .logo-p {
    color: #ffffff;
    font-weight: bolder;
    line-height: 80px;
    font-size: 28px;
    font-family: emoji;
}

.search-btn {
    background-color: #0858fd;
    color: #ffffff;
}

.logo-wrap {
    width: 300px;
}

.btn-wrap {
    margin-right: -40px;
    margin-top: 3px;
}